<%=layout("layouts/boilerplate")%>
<body>
    <div class="container">
    <h3 class="mt-4" style="text-align:center"><%= listing.title%></h3>
  <div class="row justify-content-center">
    <div class="col col-md-6 col-offset-2">
      
    <div class="card listing-card" >
        <img src="<%=listing.image.url%>" class="card-img-top" style="height:18rem;" alt="listing_image">
       <p>Owned by <i><%=listing.owner.username%></i></p>
       
        <p><%=listing.description%></p>
        <p>&#8377;<%= listing.price ? listing.price.toLocaleString("en-IN"): "N/A" %>/night</p>
        <%= listing.location%><br>
        <%= listing.country%><br>
        <br>
    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="buttons">
    <a class=" btn btn-dark " style="text-decoration:none; color: white" href="/listings/<%=listing._id%>/edit">Edit this listing</a>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="ms-4 btn btn-dark del-btn">Delete the listing</button>
    </form>
    </div>
    <%}%>
       </div>
       </div>
       </div>
       </div>
       <hr>
       <% if(currUser){%>
      <div class="ms-lg-5 ms-md-2">
       <div class="ms-lg-5 ms-md-2">
            <h4 >Leave a Review</h4>
            <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
                <!-- <div>
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]">
                </div> -->
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot" id="rating">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div>
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" class="form-control"  required rows="5" cols="20"></textarea>
                    <div class="invalid-feedback">Please add some comments for review</div>
                </div>
                <br>
                <button class="btn btn-dark mb-4 add-btn">Submit</button>
            </form>
            <br>
       </div>
       </div>
       <%}%>
      <div class="ms-lg-5 ms-md-2">
       <div class="ms-lg-4 row  ms-md-2"  >
            <% if(listing.reviews.length>0){%><h5><b>All Reviews</b></h5><%}%>

            <% for (review of listing.reviews){%>
                <div class="card col-sm-6   mb-3 mt-3 listing-card">
                    <div class="card-body">
                        <h4 class="card-title">@<%=review.author.username%></h4>
                       
                          <p class="starability-result" data-rating="<%=review.rating%>"> </p>
                        <%=review.comment%>
                         
                    </div>
                     <% if(currUser && currUser._id.equals(review.author._id)) { %>
                    <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                        <button class="btn btn-dark btn-sm mt-2">Delete</button>
                    </form>
                    <%}%>
                </div>
            
            <%}%>
       </div>
      </div>
      <br>
            <div class="ms-lg-5 ms-md-2">
       <div class="ms-lg-4 row  ms-md-2"  >
        <h5><b>Where you will be</b></h5>
    </div>
    </div>
    <div class="ms-lg-5 ms-md-2">
      <div id="map"  class="ms-lg-4 row  ms-md-2" data-coordinates="<%= JSON.stringify(coordinates) %>" data-title="<%= listing.title %>">
      </div>
      </div>
        
<script src="/js/map.js"></script>
 

       
</body>
